# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

crumbs/
elpa/
url/

# We can't get these through melpa so I git clone them.  I don't like submodules.
emacswikilibs/

# The generated elisp config file
config.el
