# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.bak

# ignore broken files
*.broken

src/
crumbs/
elpa/
url/
.local/
transient/
dash-docsets/
.cache/
devdocs/

var/
eln-cache/
straight/
auto-save-list/
elpaca/
undo-fu-session/

# We can't get these through melpa so I git clone them.  I don't like submodules.
emacswikilibs/
repos-not-in-melpa/

projectile-bookmarks.eld
logview-cache.extmap
.org-id-locations
loaddefs.el
loaddefs.el~

/.cache/
/.lsp-session-v1
/dftpnk-emacs-evil.org
/dftpnk-emacs-no-evil.org
/etc/recentf-save.el
/.DS_Store
/.dap-breakpoints

# treesitter
tree-sitter-module/
tree-sitter/
